# Unity
x-shop/[Ll]ibrary/
x-shop/[Tt]emp/
x-shop/[Oo]bj/
x-shop/[Bb]uild/
x-shop/[Bb]uilds/
x-shop/[Ll]ogs/
x-shop/[Uu]ser[Ss]ettings/

# OS / IDE
.DS_Store
.idea/
.vs/
*.iml
*.suo
*.user
*.userprefs
*.pidb
*.pdb
*.mdb

# Rider/VS/Unity files
x-shop/*.csproj
x-shop/*.sln
x-shop/*.unityproj
x-shop/*.DotSettings.user

# Misc
x-shop/*.log
x-shop/ExportedObj/
x-shop/Builds/
x-shop/obj/
x-shop/Temp/
x-shop/Library/
